.button {
  cursor: pointer;
  aspect-ratio: 1/1;
  width: 100%;
  padding: 4px;
  word-break: break-all;
  overflow: hidden;

  border-radius: 4px;
  border: none;
  background-color: var(--color-2);

  &:hover {
    outline: none;
    border-color: none;
  }

  &:focus {
    outline: none;
  }
}

.item {
  // no styles needed
}

.label {
  font-size: smaller;
  margin-bottom: 3px;
  color: var(--color-4);
}

a:has(.label) {
  text-decoration: none;
}
