.legs {
  display: flex;
  gap: 8px;
  overflow-x: scroll;
}

.leg {
  // background-color: var(--color-1);
}

.topBar {
  padding: 4px 8px;
  background-color: var(--color-1);
  border-bottom: 1px solid var(--color-2);
  display: flex;
  align-items: center;
  gap: 8px;
}

.save {
  align-self: flex-end;
  background-color: var(--color-2);
  border: 2px solid var(--color-2);
}

.dropArea {
  height: 120px;
  width: 120px;
  border: 5px solid var(--color-1);
  background: var(--color-2);
  border-radius: 8px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.root {
  padding-bottom: 8px;
}

.header {
  display: flex;
  // align-items: center;
  // justify-content: center;
  align-items: center;
  background-color: var(--color-1);

  .label {
    font-size: 16px;
    padding: 4px;
    font-weight: bold;
  }

  .select {
    font-size: 16px;
    padding: 4px;
  }

  .input {
    font-size: 16px;
    padding: 4px;
  }
  .button {
    font-size: 16px;
    padding: 4px 8px;
    border-width: 1;
  }

  .create {
    align-items: stretch;
    // justify-content: center;
    display: flex;
    gap: 5px;
  }

  .title {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: larger;
    padding: 8px;
    margin-right: 8px;
    background-color: var(--color-5);
  }
}


.create {
  align-items: stretch;
  // justify-content: center;
  display: flex;
  gap: 5px;
}
