.root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.beam,
.inner {
  z-index: 1000;
  position: relative;
  box-sizing: border-box;
  animation-name: strobe;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: var(--StrobeTime);
  background-color: rgba(
    var(--Red),
    var(--Green),
    var(--Blue),
    var(--Brightness)
  );
}

.inner {
  height: 100%;
  width: 100%;
}

@keyframes strobe {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
