.Bar,
.Square,
.Circle {
  height: 50px;
  width: 50px;
  border: 4px solid black;
  opacity: 1;
  overflow: hidden;
  display: flex;
  position: relative;
  background-color: rgb(61, 61, 61);

  // &.small {
  //   height: 25px;
  //   width: 25px;
  //   border-width: 2px;
  // }
}

.Circle {
  border-radius: 100%;
  .inner {
    &::after {
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
      content: "";
      border-radius: 20px;

      background-color: rgba(
        var(--White),
        var(--White),
        var(--White),
        var(--Brightness)
      );
    }
  }
}

.Bar {
  width: 100px;
}

.root {

}

.inner {


  position: relative;

  box-sizing: border-box;
  // flex: 1;
  height: 100%;
  width: 100%;
  animation-name: strobe;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  // border-width: 15px;
  // border-style: solid;
  // border-radius: 30px;

  animation-duration: var(--StrobeTime);

  background-color: rgba(
    var(--Red),
    var(--Green),
    var(--Blue),
    var(--Brightness)
  );
}

.Strobe {
  --Brightness: 255;
  .inner {
    opacity: 0;
  }
}

@keyframes strobe {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
