.root {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.item {
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover {
    background-color: var(--color-1);
    border-radius: var(--small-rad);
  }
}

.name {
  flex: 1;
  text-transform: capitalize;
}
