.input {
  background-color: var(--color-5);
  border: 2px solid var(--color-2);
  border-radius: 4px;
  padding: 2px;
  font-size: 1rem;
  color: var(--color--1);

  &::placeholder {
    color: var(--color-3);
  }
}
