.root {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fixture {
  display: flex;
  position: relative;
  align-items: center;
  gap: 20px;
}

.item {
  padding: 4px;
  border-bottom: 1px solid grey;
  text-align: center;
  background-color: rgb(185, 185, 185);
  color: black;
}

.button {
  width: 25px;
  height: 25px;
  font-size: 15px;
  line-height: 0;
  text-align: center;
  padding: 4px;
  margin: 0;
  background-color: gray;
}

.dragWrapper {
  padding: 4px;
  background-color: white;
  border-radius: 4px;
}