.root {
  flex: 1;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 4fr;
}

.header {
  grid-column-end: span 2;
}

.left {
  overflow: hidden;
  overflow-y: auto;
}

.content {
  grid-column-start: 1;
  grid-column-end: span 2;

  overflow: hidden;
  overflow-y: auto;
}

.left + .content {
  grid-column-start: 2;
  grid-column-end: 2;
}