.root {
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: rgb(24, 24, 24);
  padding: 16px;
}

.name {
  font-size: larger;
  background-color: transparent;
  border-style: solid;
  padding: 8px;
  border-radius: var(--small-rad);
  border: 2px solid var(--color-4);
  width: 300px
}

.header {
  display: grid;
  grid-template-columns: auto auto 1fr;
  padding-bottom: 16px;
  gap: 16px;
}

.actions {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  align-items: center;
}

.meta {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr auto 1fr auto;
}