.root {
  background-color: rgb(24, 24, 24);
  padding: 16px;

  display: grid;
  grid-template-columns: 1fr auto;
  gap: 32px
}

.name {
  font-size: larger;
  background-color: transparent;
  border-style: solid;
  padding: 8px;
  border-radius: var(--small-rad);
  border: 2px solid var(--color-4);
  width: 300px
}

.actions {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  align-items: center;
}

.info {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr auto;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;

  .buttons {
    margin-left: auto;
    display: flex;
    gap: 8px;
  }
}