.root {
  // --input-size: 125px;
  // --button-height: 100px;
  // * {
  //   box-sizing: border-box;
  // }

  display: flex;
  padding: 32px;
  gap: 32px;
  position: relative;
}

.row {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.column {
  display: flex;
  flex: 1;
  gap: 5px;
  flex-direction: column;
}

// this is item
.dial {
  flex-direction: column;
  // outline: 1px solid blue;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controller {
  display: flex;
  min-height: 300px;
}

.button {
  flex-basis: 150px;
  flex-grow: 1;
}

.editButton {
  // display: flex;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  // background-color: transparent;
  // font-size: 40px;
}

.edit {
  border: 1px solid #cdcdcd;
  padding: 8px;
  border-radius: 4px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 8px;
  padding-bottom: 8px;

  h2 {
    margin: 0;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;

  & + * {
    padding-top: 8px;
  }
}
