.root {
  display: flex;
  padding: 32px;
  gap: 32px;
  position: relative;
}

.controller {
  position: relative;
}

.remove {
  position: absolute;
  top: 8px;
  right: 8px;
}

.editButton {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.edit {
  border: 1px solid #cdcdcd;
  padding: 8px;
  border-radius: 4px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 8px;
  padding-bottom: 8px;

  h2 {
    margin: 0;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;

  & + * {
    padding-top: 8px;
  }
}
