.row {
  display: flex;
}

.header {
  border-bottom: 1px solid #454545;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.sceneName {
  font-weight: bolder;
}

.rule {
  padding: 4px;
  flex-grow: 0;
  flex-shrink: 1;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.root {
  display: flex;
}

.deleteRow {
  display: flex;
  gap: 8px;
  margin-top: 4px;
}

.delete {
  background-color: transparent;
  border: none;
  padding: 0;
  color: rgba(255, 255, 255, 0.4);
  font-size: 12px;
  cursor: pointer;

  &:hover {
    color: red;
  }
}