#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.root {
  /* display: block; */
  display: flex;
  flex-direction: column;

  /* justify-content: c; */
  /* align-items: stretch; */
  /* min-height: 100vh; */
  height: 100vh;
  overflow: hidden;
}

.body {
  /* height: 100%; */
  flex: 1;
  display: flex;
  overflow-y: auto;
}

.header {
  position: relative;
  padding: 16px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.left {
  overflow-y: auto;
  /* display: none; */
  /* width: 15vw; */
  /* position: absolute; */
  /* top: 0; */
  /* bottom: 0; */
  /* left: 0; */
  /* width: 200px; */
  border-right: 1px solid black;
}

.main {
  flex: 1;
  padding: 16px;
  position: relative;
  overflow-y: auto;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(54, 54, 54);
}

.genericProfiles {
  padding: 8px;
  gap: 16px;
  display: flex;
  flex-direction: column ;
  justify-content: center;
  justify-content: stretch;
}

.genericProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.genericProfileName {
  line-height: 1.1;
}

.spacer {
  flex: 1;
}

.leftTitle {
  font-weight: bold;
  text-align: center;
}

.scenes {
  padding: 8px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}


